/* styles.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 500px;
  /* margin: 0 auto; */
  padding: 20px;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.heading{
  display: flex;
  margin-top: 10px;
  align-items: center;
  color: #5757f4;
  justify-content: center;
  font-weight: 600;
  font-size: 41px;
  
}
.heading p{
  margin-bottom: 0;
  opacity: .6;
  margin-left: 11px;
  margin-top: 10px;
  font-size: 18px;
  color: black;
  font-weight: 600;
}
/* Question and Result styles */
.question-container {
  background-color: #fff;
  padding: 20px;
  margin-top: 70px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.question-container h2 {
  margin-top: 0;
  font-size: 20px;
  opacity: .8;
  font-weight: 600;
}

.question-container p {
  font-size: 20px;
  margin-bottom: 10px;
}
.question-container h7{
  font-weight: 600;
  opacity: .8;
  color: green;
  font-size: 18px;
}

.question-container ul {
  list-style: none;
  padding: 0;
}

.question-container li {
  margin-bottom: 10px;
}

.question-container label {
  margin-right: 11px;
  margin-top: 5px;
  margin-bottom: 28px;
  cursor: pointer;
}

.question-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Result styles */
.result-container {
  text-align: center;
}

.result-container h2 {
  font-size: 24px;
  color: #007bff;
}

.result-container p {
  font-size: 18px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .question-container {
    padding: 10px;
  }

  .question-container button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
